/DataProcess/bin/Debug/*
!/DataProcess/bin/Release/
/DataProcess/bin/Release/*
!/DataProcess/bin/Debug/*.txt
!/DataProcess/bin/Release/*.txt
!/DataProcess/bin/Debug/*.xlsx
!/DataProcess/bin/Release/*.xlsx
!/DataProcess/bin/Release/Feature/
!/DataProcess/bin/Release/Feature_all/
!/DataProcess/bin/Release/predict/
!/DataProcess/bin/Release/NoNoise/
.vs/DataProcess/v14/.suo
DataProcess/Utils/Lib/NLPIR/Data/DocExtractor.user
DataProcess/Utils/Lib/NLPIR/Data/NLPIR.user
DataProcess/Utils/Lib/NLPIR/ICTCLAS-tools.exe
DataProcess/Utils/Lib/NLPIR/ICTCLAS2011.dll
DataProcess/Utils/Lib/NLPIR/NLPIR.dll
DataProcess/Utils/Lib/NLPIR/NLPIR.lib
DataProcess/lib/BaseMLT.dll
DataProcess/lib/BaseNLP.dll
DataProcess/lib/FuncNLP.dll
DataProcess/lib/HtmlAgilityPack.dll
DataProcess/lib/HtmlAgilityPack.pdb
DataProcess/lib/Ionic.Zip.dll
DataProcess/lib/Lava.Toolkit.WPF.dll
DataProcess/lib/Lava.Toolkit.WPF.pdb
DataProcess/lib/Lava.WPF.dll
DataProcess/lib/Lava.WPF.pdb
DataProcess/lib/LingNLP.dll
DataProcess/lib/Lucene.Net.dll
DataProcess/lib/MathNet.Numerics.dll
DataProcess/lib/PdfSharp-WPF.dll
DataProcess/lib/PdfSharp.Xps.dll
DataProcess/lib/S++.dll
DataProcess/lib/S.dll
DataProcess/lib/Segment_Refine_Trans.dll
DataProcess/lib/SentimentLearner.dll
DataProcess/lib/TwitterNLP.dll
DataProcess/lib/svm_train.exe
DataProcess/obj/Debug/DataProcess.csprojFakesResolveAssemblyReference.cache
DataProcess/obj/Debug/DataProcess.csprojResolveAssemblyReference.cache
DataProcess/obj/Debug/DataProcess_MarkupCompile.cache
DataProcess/obj/Debug/DataProcess_MarkupCompile.i.cache
DataProcess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataProcess/obj/Debug/Fakes/cm/f.ah
DataProcess/obj/Debug/Fakes/cm/f.ch
DataProcess/obj/Debug/Fakes/cm/f.cs
DataProcess/obj/Debug/Fakes/cm/f.csproj
DataProcess/obj/Debug/Fakes/cm/f.fakes
DataProcess/obj/Debug/Fakes/cm/f.fakesconfig
DataProcess/obj/Debug/Fakes/cm/f.snk
DataProcess/obj/Debug/Fakes/cm/o/f.csproj.FileListAbsolute.txt
DataProcess/obj/Debug/Fakes/cm/o/f.csprojResolveAssemblyReference.cache
DataProcess/obj/Debug/Fakes/fakes.args
DataProcess/obj/Debug/build.force
DataProcess/obj/Release/DataProcess.csprojFakesResolveAssemblyReference.cache
DataProcess/obj/Release/DataProcess.exe
DataProcess/obj/Release/DataProcess.pdb
DataProcess/obj/Release/DataProcess_MarkupCompile.cache
DataProcess/obj/Release/DataProcess_MarkupCompile.i.cache
DataProcess/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
DataProcess/obj/Release/Fakes/cm/b/BaseMLT.dll
DataProcess/obj/Release/Fakes/cm/b/BaseNLP.dll
DataProcess/obj/Release/Fakes/cm/b/ColorMine.Fakes.dll
DataProcess/obj/Release/Fakes/cm/b/ColorMine.Fakes.fakesconfig
DataProcess/obj/Release/Fakes/cm/b/ColorMine.Fakes.pdb
DataProcess/obj/Release/Fakes/cm/b/ColorMine.Fakes.xml
DataProcess/obj/Release/Fakes/cm/b/ColorMine.dll
DataProcess/obj/Release/Fakes/cm/b/FuncNLP.dll
DataProcess/obj/Release/Fakes/cm/b/HtmlAgilityPack.dll
DataProcess/obj/Release/Fakes/cm/b/HtmlAgilityPack.pdb
DataProcess/obj/Release/Fakes/cm/b/HtmlAgilityPack.xml
DataProcess/obj/Release/Fakes/cm/b/IKVM.AWT.WinForms.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Beans.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Charsets.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Cldrdata.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Corba.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Core.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Jdbc.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Localedata.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Management.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Media.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Misc.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Naming.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Nashorn.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Remoting.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Security.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.SwingAWT.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Text.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Tools.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.Util.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.XML.API.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.XML.Bind.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.XML.Crypto.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.XML.Parse.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.XML.Transform.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.XML.WebServices.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.OpenJDK.XML.XPath.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.Runtime.JNI.dll
DataProcess/obj/Release/Fakes/cm/b/IKVM.Runtime.dll
DataProcess/obj/Release/Fakes/cm/b/Ionic.Zip.dll
DataProcess/obj/Release/Fakes/cm/b/Lava.Toolkit.WPF.dll
DataProcess/obj/Release/Fakes/cm/b/Lava.Toolkit.WPF.pdb
DataProcess/obj/Release/Fakes/cm/b/Lava.Toolkit.WPF.xml
DataProcess/obj/Release/Fakes/cm/b/Lava.WPF.dll
DataProcess/obj/Release/Fakes/cm/b/Lava.WPF.pdb
DataProcess/obj/Release/Fakes/cm/b/Lava.WPF.xml
DataProcess/obj/Release/Fakes/cm/b/LingNLP.dll
DataProcess/obj/Release/Fakes/cm/b/Lucene.Net.dll
DataProcess/obj/Release/Fakes/cm/b/MathNet.Numerics.dll
DataProcess/obj/Release/Fakes/cm/b/MathNet.Numerics.xml
DataProcess/obj/Release/Fakes/cm/b/Microsoft.QualityTools.Testing.Fakes.dll
DataProcess/obj/Release/Fakes/cm/b/NUnrar.dll
DataProcess/obj/Release/Fakes/cm/b/Newtonsoft.Json.dll
DataProcess/obj/Release/Fakes/cm/b/PdfSharp-WPF.dll
DataProcess/obj/Release/Fakes/cm/b/PdfSharp.Xps.dll
DataProcess/obj/Release/Fakes/cm/b/S++.dll
DataProcess/obj/Release/Fakes/cm/b/S.dll
DataProcess/obj/Release/Fakes/cm/b/Segment_Refine_Trans.dll
DataProcess/obj/Release/Fakes/cm/b/SentimentLearner.dll
DataProcess/obj/Release/Fakes/cm/b/SevenZipSharp.dll
DataProcess/obj/Release/Fakes/cm/b/TwitterNLP.dll
DataProcess/obj/Release/Fakes/cm/b/clipper_library.dll
DataProcess/obj/Release/Fakes/cm/b/clipper_library.pdb
DataProcess/obj/Release/Fakes/cm/b/stanford-ner.dll
DataProcess/obj/Release/Fakes/cm/f.ah
DataProcess/obj/Release/Fakes/cm/f.ch
DataProcess/obj/Release/Fakes/cm/f.cs
DataProcess/obj/Release/Fakes/cm/f.csproj
DataProcess/obj/Release/Fakes/cm/f.fakes
DataProcess/obj/Release/Fakes/cm/f.fakesconfig
DataProcess/obj/Release/Fakes/cm/f.snk
DataProcess/obj/Release/Fakes/cm/o/ColorMine.Fakes.dll
DataProcess/obj/Release/Fakes/cm/o/ColorMine.Fakes.pdb
DataProcess/obj/Release/Fakes/cm/o/f.csproj.FileListAbsolute.txt
DataProcess/obj/Release/Fakes/cm/o/f.csprojResolveAssemblyReference.cache
DataProcess/obj/Release/Fakes/fakes.args
DataProcess/svm_train.exe
packages/ColorMine.1.1.3.0/lib/ColorMine.dll
packages/IKVM.8.1.5717.0/lib/IKVM.AWT.WinForms.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Beans.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Charsets.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Cldrdata.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Corba.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Core.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Jdbc.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Localedata.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Management.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Media.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Misc.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Naming.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Nashorn.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Remoting.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Security.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.SwingAWT.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Text.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Tools.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Util.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.XML.API.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.XML.Bind.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.XML.Crypto.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.XML.Parse.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.XML.Transform.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.XML.WebServices.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.XML.XPath.dll
packages/IKVM.8.1.5717.0/lib/IKVM.Runtime.JNI.dll
packages/IKVM.8.1.5717.0/lib/IKVM.Runtime.dll
packages/IKVM.8.1.5717.0/x64/lib/JVM.DLL
packages/IKVM.8.1.5717.0/x64/lib/ikvm-native-win32-x64.dll
packages/IKVM.8.1.5717.0/x86/lib/JVM.DLL
packages/IKVM.8.1.5717.0/x86/lib/ikvm-native-win32-x86.dll
packages/Stanford.NLP.NER.3.5.2.1/Stanford.NLP.NER.3.5.2.1.nupkg
packages/Stanford.NLP.NER.3.5.2.1/lib/stanford-ner.dll
DataProcess/obj/Debug/DataProcess.exe
DataProcess/obj/Debug/DataProcess.pdb
DataProcess/obj/Release/build.force
